package ${packageName}.controller;

import java.util.List;

import com.liuwa.common.utils.bean.BeanUtils;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import com.liuwa.common.annotation.Log;
import com.liuwa.common.core.controller.BaseController;
import com.liuwa.common.core.domain.AjaxResult;
import com.liuwa.common.enums.BusinessType;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.${ClassName}Service;
import com.liuwa.common.utils.poi.ExcelUtil;
#if($table.crud || $table.sub)
import com.liuwa.common.core.page.TableDataInfo;
#elseif($table.tree)
#end
#if($supportImport)
import org.springframework.web.multipart.MultipartFile;
#end

/**
 * ${functionName}Controller
 * 
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${businessName}")
public class ${ClassName}Controller extends BaseController{

    @Autowired
    private ${ClassName}Service ${className}Service;

    /**
     * 查询${functionName}列表
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:list')")
    @GetMapping("/list")
#if($table.crud || $table.sub)
    public TableDataInfo list(${ClassName} ${className})
    {
        startPage();
        List<${ClassName}> list = ${className}Service.findList(${className});
        return getDataTable(list);
    }
#elseif($table.tree)
    public AjaxResult list(${ClassName} ${className})
    {
        List<${ClassName}> list = ${className}Service.findList(${className});
        return AjaxResult.success(list);
    }
#end

#if($supportImport)
    @Log(title = "导入${functionName}", businessType = BusinessType.IMPORT)
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:import')")
    @PostMapping("/import")
    public AjaxResult importData(MultipartFile file, boolean overwrite) throws Exception
    {
        ExcelUtil<${ClassName}> util = new ExcelUtil<${ClassName}>(${ClassName}.class);
        List<${ClassName}> list = util.importExcel(file.getInputStream());
        String message = ${className}Service.importData(list, overwrite);
        return AjaxResult.success(message);
    }


    /**
     * 导入模板
     * @return
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:import')")
    @GetMapping("/import/template")
    public AjaxResult importTemplate()
    {
        ExcelUtil<${ClassName}> util = new ExcelUtil<${ClassName}>(${ClassName}.class);
        return util.importTemplateExcel("${functionName}数据模板");
    }
#end

#if($supportExport)
    /**
     * 导出${functionName}列表
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:export')")
    @Log(title = "导出${functionName}", businessType = BusinessType.EXPORT)
    @GetMapping("/export")
    public AjaxResult export(${ClassName} ${className})
    {
        List<${ClassName}> list = ${className}Service.findList(${className});
        ExcelUtil<${ClassName}> util = new ExcelUtil<${ClassName}>(${ClassName}.class);
        return util.exportExcel(list, "${functionName}数据");
    }
#end

    /**
     * 获取${functionName}详细信息
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:query')")
    @GetMapping(value = "/{${pkColumn.javaField}}")
    public AjaxResult getInfo(@PathVariable("${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField})
    {
        return AjaxResult.success(${className}Service.get(${pkColumn.javaField}));
    }

    /**
     * 新增${functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:add')")
    @Log(title = "${functionName}", businessType = BusinessType.INSERT)
    @PostMapping
    public AjaxResult add(@RequestBody ${ClassName} ${className})
    {
        ${className}Service.insert(${className});
        return AjaxResult.success();
    }

    /**
     * 修改${functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:edit')")
    @Log(title = "${functionName}", businessType = BusinessType.UPDATE)
    @PutMapping
    public AjaxResult edit(@RequestBody ${ClassName} ${className})
    {
#if($pkColumn.javaField.length() > 2 && $pkColumn.javaField.substring(1,2).matches("[A-Z]"))
#set($AttrName=$pkColumn.javaField)
#else
#set($AttrName=$pkColumn.javaField.substring(0,1).toUpperCase() + ${pkColumn.javaField.substring(1)})
#end
        ${ClassName} old${ClassName} = ${className}Service.get(${className}.get${AttrName}());
        BeanUtils.copyBeanNotNull2Bean(${className}, old${ClassName});
        ${className}Service.update(old${ClassName});
        return AjaxResult.success();
    }

#foreach($column in $columns)
#if($column.htmlType == 'switch')
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
    /**
     * 变更${column.columnComment}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:edit')")
    @Log(title = "${functionName}变更${column.columnComment}", businessType = BusinessType.UPDATE)
    @PutMapping("/change${AttrName}")
    public AjaxResult change${AttrName}(@RequestBody ${ClassName} ${className}){
        ${className}Service.update${AttrName}(${className});
        return AjaxResult.success();
    }

    /**
     * 批量变更${column.columnComment}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:edit')")
    @Log(title = "${functionName}批量变更${column.columnComment}", businessType = BusinessType.UPDATE)
    @PutMapping("/batchChange${AttrName}")
    public AjaxResult batchChange${AttrName}(@RequestParam ${pkColumn.javaType}[] ${pkColumn.javaField}s, @RequestParam ${column.javaType} ${column.javaField}){
        ${className}Service.batchUpdate${AttrName}(${pkColumn.javaField}s, ${column.javaField});
        return AjaxResult.success();
    }

#end
#end


    /**
     * 删除${functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:remove')")
    @Log(title = "${functionName}", businessType = BusinessType.DELETE)
	@DeleteMapping("/{${pkColumn.javaField}s}")
    public AjaxResult remove(@PathVariable ${pkColumn.javaType}[] ${pkColumn.javaField}s)
    {
        ${className}Service.batchDelete(${pkColumn.javaField}s);
        return AjaxResult.success();
    }
}
