package ${packageName}.service;

import ${packageName}.domain.${ClassName};
import ${packageName}.dao.${ClassName}Dao;
import com.liuwa.common.core.service.CurdService;


/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends CurdService<${pkColumn.javaType}, ${ClassName}Dao, ${ClassName}>{

#foreach($column in $columns)
#if($column.htmlType == 'switch')
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
    public void update${AttrName}(${ClassName} ${className});
#end
#end
}
